<a href="https://colab.research.google.com/github/Chirag314/Stacked-H2O-creditcarddata/blob/main/Stacked_H2O_creditcarddata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###This notebook is made from exercises from book Ensemble Machine Learning Cookbook.

H2O is an open source platform for building machine learning and predictive analytics models. The algorithms are written on H2O's distributed map-reduce framework. With H2O, the data is distributed across nodes, read in parallel, and stored in the memory in a compressed manner. This makes H2O extremely fast.

H2O's stacked ensemble method is an ensemble machine learning algorithm for supervised problems that finds the optimal combination of a collection of predictive algorithms using stacking. H2O's stacked ensemble supports regression, binary classification, and multiclass classification.
H2O's stacked ensemble method is an ensemble machine learning algorithm for supervised problems that finds the optimal combination of a collection of predictive algorithms using stacking. H2O's stacked ensemble supports regression, binary classification, and multiclass classification.

In [4]:
! apt-get install default-jre
! java -version

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)

In [6]:
#Install H2O
! pip install h2o

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h2o
  Downloading h2o-3.36.1.4.tar.gz (177.1 MB)
     |████████████████████████████████| 177.1 MB 31 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.10)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.36.1.4-py2.py3-none-any.whl size=177128127 sha256=f120a79a80531873015387666277443948fd2a51b6ef293ac672c79cb9f23c8f
  Stored in directory: /root/.cache/pip/wheels/02/f9/18/5fbae4db903beda26f764b6e035cb41b37713fed8a6b9cd403
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.36.1.4

In [8]:
#import required libraries

import h2o
from h2o.estimators.random_forest import H2ORandomForestEstimator
from h2o.estimators.gbm import H2OGradientBoostingEstimator
from h2o.estimators.glm import H2OGeneralizedLinearEstimator
from h2o.estimators.stackedensemble import H2OStackedEnsembleEstimator
from h2o.grid.grid_search import H2OGridSearch

In [9]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.16" 2022-07-19; OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04); OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpszilwkt8
  JVM stdout: /tmp/tmpszilwkt8/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpszilwkt8/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.4
H2O_cluster_version_age:    1 month and 9 days
H2O_cluster_name:           H2O_from_python_unknownUser_htpsew
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.13 final
--------------------------  ----------------------------------

In [23]:
# Read data from github. Use raw format and copy url# Note normal url and raw url will be different.
import pandas as pd
pd.options.display.max_rows=None
pd.options.display.max_columns=None
url = 'https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv'
hf_bankdata= h2o.import_file(url)
#df = pd.read_csv(url)
print(hf_bankdata.head(5))

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

In [24]:
#Check shape of data
hf_bankdata.shape

(41188, 21)

In [25]:
#We first split the dataset into train and test subset
train,test=hf_bankdata.split_frame(ratios=[0.8],seed=1234)

In [26]:
train.shape, test.shape

((33054, 21), (8134, 21))

In [27]:
print(train.columns)

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y']

In [28]:
# We separate the target and predictor column names, which are the response and predictors, respectively:
predictors=train.columns

#set the response column name
response="y"

#Remove the 'y variable from the predictor
predictors.remove(response)
print(predictors)

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

In [30]:
#Convert response variable to a categorical type with the asfactor function
train[response]=train[response].asfactor()
test[response]=test[response].asfactor()

In [32]:
#We will train our base learners using cross-validation. We set the nfolds value to 5.We also set a variable 'encoding' to 'OneHotExplicit'. We will use this variable to encode our categorical variables.
#number of CV folds
nfolds=5

# Using the categorical_encoding parameter
encoding="OneHotExplicit"

In [33]:
#We start training our base learners. We choose the Gradient Boosting Machine algorithm to build our first base learner:
base_learner_gbm=H2OGradientBoostingEstimator(distribution='bernoulli',
                                              ntrees=100,
                                              max_depth=5,
                                              min_rows=2,
                                              learn_rate=0.01,
                                              nfolds=nfolds,
                                              fold_assignment="Modulo",
                                              categorical_encoding=encoding,
                                              keep_cross_validation_predictions=True)
base_learner_gbm.train(x=predictors,y=response,training_frame=train)

gbm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_model_python_1663050917904_1


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,100.0,100.0,46011.0,5.0,5.0,5.0,31.0,32.0,31.94

ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 0.06138054125314093
RMSE: 0.24775096620021672
LogLoss: 0.21098084712555518
Mean Per-Class Error: 0.1746786630743241
AUC: 0.9440474206801891
AUCPR: 0.6918704113541194
Gini: 0.8880948413603782

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.27398031300288583:

               no     yes   Error               Rate
0     no  27676.0  1654.0  0.0564   (1654.0/29330.0)
1    yes   1091.0  2633.0   0.293    (1091.0/3724.0)
2  Total  28767.0  4287.0   0.083   (2745.0/33054.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.273980      0.657346  193.0
1                        max f2   0.116432      0.757488  324.0
2                  max f0point5   0.401361      0.658456  103.0
3                  max accuracy   0.338770      0.921795  145.0
4                 max precision   0.591866      0.976744    0.0
5                    max recall   0.046223      1.000000  399.0
6               max specificity   0.591866      0.999966    0.0
7              max absolute_mcc   0.212628      0.616012  242.0
8    max min_per_class_accuracy   0.144479      0.879270  298.0
9   max mean_per_class_accuracy   0.116432      0.886353  324.0
10                      max tns   0.591866  29329.000000    0.0
11                      max fns   0.591866   3682.000000    0.0
12                      max fps   0.046223  29330.000000  399.0
13                      max tps   0.046223   3724.000000  399.0
14                      max tnr   0.591866      0.999966    0.0
15                      max fnr   0.591866      0.988722    0.0
16                      max fpr   0.046223      1.000000  399.0
17                      max tpr   0.046223      1.000000  399.0

Gains/Lift Table: Avg response rate: 11.27 %, avg score: 11.29 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010528,0.572937,8.034256,8.034256,0.905172,0.578865,0.905172,0.578865,0.084586,0.084586,703.425590,703.425590,0.083461
1,2,0.020300,0.544729,7.062280,7.566375,0.795666,0.561780,0.852459,0.570641,0.069012,0.153598,606.228031,656.637495,0.150223
2,3,0.030768,0.483284,7.182841,7.435891,0.809249,0.502580,0.837758,0.547485,0.075188,0.228786,618.284150,643.589061,0.223161
3,4,0.040812,0.445440,6.336138,7.165232,0.713855,0.459637,0.807265,0.525865,0.063641,0.292427,533.613778,616.523239,0.283563
4,5,0.050312,0.441583,5.851336,6.917149,0.659236,0.444102,0.779314,0.510427,0.055585,0.348013,485.133614,591.714855,0.335500
5,6,0.102348,0.336422,4.933371,5.908548,0.555814,0.388962,0.665681,0.448671,0.256713,0.604726,393.337122,490.854760,0.566165
6,7,0.150027,0.237314,3.317214,5.085006,0.373731,0.283384,0.572898,0.396142,0.158163,0.762889,231.721356,408.500607,0.690677
7,8,0.202759,0.145765,2.138781,4.318776,0.240964,0.188667,0.486571,0.342184,0.112782,0.875671,113.878069,331.877646,0.758351
8,9,0.303443,0.071414,0.893461,3.182241,0.100661,0.105994,0.358524,0.263815,0.089957,0.965628,-10.653851,218.224125,0.746263
9,10,0.410329,0.046449,0.173348,2.398460,0.019530,0.052296,0.270220,0.208717,0.018528,0.984157,-82.665161,139.846048,0.646687
10,11,1.000000,0.046223,0.026868,1.000000,0.003027,0.046223,0.112664,0.112899,0.015843,1.000000,-97.313219,0.000000,0.000000

ModelMetricsBinomial: gbm
** Reported on cross-validation data. **

MSE: 0.06286123991547732
RMSE: 0.2507214388828313
LogLoss: 0.21496181362325167
Mean Per-Class Error: 0.17136409896203175
AUC: 0.9375740078363068
AUCPR: 0.6507519817390064
Gini: 0.8751480156726137

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.25752005599861966:

               no     yes   Error               Rate
0     no  27390.0  1940.0  0.0661   (1940.0/29330.0)
1    yes   1030.0  2694.0  0.2766    (1030.0/3724.0)
2  Total  28420.0  4634.0  0.0899   (2970.0/33054.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.257520      0.644652  221.0
1                        max f2   0.118531      0.749263  325.0
2                  max f0point5   0.356207      0.640038  150.0
3                  max accuracy   0.356207      0.918406  150.0
4                 max precision   0.612757      1.000000    0.0
5                    max recall   0.045842      1.000000  399.0
6               max specificity   0.612757      1.000000    0.0
7              max absolute_mcc   0.208787      0.601761  256.0
8    max min_per_class_accuracy   0.136755      0.875403  309.0
9   max mean_per_class_accuracy   0.101103      0.879987  343.0
10                      max tns   0.612757  29330.000000    0.0
11                      max fns   0.612757   3722.000000    0.0
12                      max fps   0.045842  29330.000000  399.0
13                      max tps   0.045842   3724.000000  399.0
14                      max tnr   0.612757      1.000000    0.0
15                      max fnr   0.612757      0.999463    0.0
16                      max fpr   0.045842      1.000000  399.0
17                      max tpr   0.045842      1.000000  399.0

Gains/Lift Table: Avg response rate: 11.27 %, avg score: 11.29 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010044,0.576036,7.298589,7.298589,0.822289,0.586076,0.822289,0.586076,0.073308,0.073308,629.858909,629.858909,0.071297
1,2,0.020300,0.530624,7.462073,7.381184,0.840708,0.559640,0.831595,0.572720,0.076531,0.149839,646.207332,638.118396,0.145986
2,3,0.030011,0.486224,6.415009,7.068541,0.722741,0.499951,0.796371,0.549173,0.062299,0.212137,541.500949,606.854081,0.205250
3,4,0.040328,0.454391,5.518180,6.671937,0.621701,0.469460,0.751688,0.528781,0.056928,0.269066,451.817961,567.193678,0.257780
4,5,0.050947,0.432944,5.664417,6.461937,0.638177,0.441782,0.728029,0.510648,0.060150,0.329216,466.441745,546.193721,0.313600
5,6,0.100018,0.343091,5.034442,5.761575,0.567201,0.388553,0.649123,0.450745,0.247046,0.576262,403.444184,476.157499,0.536712
6,7,0.149997,0.232600,3.476231,5.000101,0.391646,0.287692,0.563332,0.396416,0.173738,0.750000,247.623068,400.010085,0.676185
7,8,0.200218,0.148083,2.240373,4.307875,0.252410,0.190051,0.485343,0.344653,0.112513,0.862513,124.037277,330.787531,0.746387
8,9,0.300599,0.072786,0.989782,3.199841,0.111513,0.107251,0.360507,0.265376,0.099356,0.961869,-1.021768,219.984063,0.745231
9,10,0.484752,0.046772,0.103531,2.023579,0.011664,0.050284,0.227985,0.183664,0.019066,0.980934,-89.646924,102.357912,0.559182
10,11,0.501210,0.046675,0.048948,1.958739,0.005515,0.046692,0.220680,0.179166,0.000806,0.981740,-95.105180,95.873943,0.541542
11,12,0.629213,0.046582,0.029370,1.566242,0.003309,0.046586,0.176459,0.152195,0.003759,0.985499,-97.063031,56.624191,0.401524
12,13,0.748593,0.046433,0.031491,1.321491,0.003548,0.046433,0.148885,0.135329,0.003759,0.989259,-96.850908,32.149056,0.271223
13,14,0.888576,0.046001,0.059467,1.122676,0.006700,0.046008,0.126485,0.121258,0.008324,0.997583,-94.053293,12.267599,0.122847
14,15,1.000000,0.045842,0.021690,1.000000,0.002444,0.045842,0.112664,0.112855,0.002417,1.000000,-97.831022,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.910359,0.002435,0.909847,0.907427,0.914083,0.910906,0.909531
1,auc,0.938887,0.002762,0.939736,0.937074,0.935623,0.939139,0.942861
2,err,0.089641,0.002435,0.090153,0.092573,0.085917,0.089094,0.090469
3,err_count,592.600000,16.087261,596.000000,612.000000,568.000000,589.000000,598.000000
4,f0point5,0.605992,0.014042,0.603908,0.592872,0.627415,0.594699,0.611064
5,f1,0.647264,0.013353,0.646081,0.629091,0.660287,0.640635,0.660227
6,f2,0.694731,0.017001,0.694586,0.670023,0.696794,0.694261,0.717993
7,lift_top_group,7.389618,0.548865,7.133633,7.456966,7.100062,6.944328,8.313102
8,logloss,0.214962,0.003451,0.216099,0.216931,0.216813,0.208825,0.216141
9,max_per_class_error,0.269438,0.022364,0.268817,0.299595,0.276540,0.264706,0.237533
10,mcc,0.601929,0.014539,0.600570,0.580762,0.614610,0.597197,0.616504
11,mean_per_class_accuracy,0.831869,0.010168,0.831843,0.816983,0.831207,0.833732,0.845580
12,mean_per_class_error,0.168131,0.010168,0.168157,0.183017,0.168793,0.166269,0.154420
13,mse,0.062861,0.001357,0.063116,0.063520,0.063747,0.060468,0.063455
14,pr_auc,0.654943,0.022585,0.645803,0.644427,0.663871,0.631075,0.689539
15,precision,0.581335,0.015628,0.578723,0.570957,0.607261,0.567568,0.582164
16,r2,0.371113,0.006400,0.368046,0.361752,0.375601,0.372331,0.377833
17,recall,0.730562,0.022364,0.731183,0.700405,0.723460,0.735294,0.762467
18,rmse,0.250710,0.002725,0.251229,0.252032,0.252482,0.245902,0.251903
19,specificity,0.933176,0.003711,0.932504,0.933561,0.938953,0.932169,0.928694

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2022-09-13 07:02:11,1 min 33.881 sec,0.0,0.316182,0.352049,0.500000,0.112664,1.000000,0.887336
1,,2022-09-13 07:02:12,1 min 35.000 sec,1.0,0.314792,0.347737,0.931339,0.661420,7.418696,0.096963
2,,2022-09-13 07:02:12,1 min 35.233 sec,2.0,0.313426,0.343649,0.931370,0.661998,7.418696,0.096963
3,,2022-09-13 07:02:12,1 min 35.473 sec,3.0,0.312103,0.339813,0.932816,0.665798,7.422700,0.091033
4,,2022-09-13 07:02:13,1 min 35.780 sec,4.0,0.310803,0.336156,0.932674,0.658100,7.332298,0.087856
5,,2022-09-13 07:02:13,1 min 36.080 sec,5.0,0.309503,0.332604,0.935059,0.666953,7.422700,0.091033
6,,2022-09-13 07:02:13,1 min 36.332 sec,6.0,0.308245,0.329252,0.934948,0.659475,7.340185,0.087856
7,,2022-09-13 07:02:14,1 min 36.572 sec,7.0,0.307008,0.326037,0.935011,0.660939,7.409593,0.086676
8,,2022-09-13 07:02:14,1 min 36.877 sec,8.0,0.305769,0.322897,0.934971,0.660849,7.409593,0.087856
9,,2022-09-13 07:02:14,1 min 37.128 sec,9.0,0.304572,0.319922,0.935042,0.661087,7.409593,0.086676
10,,2022-09-13 07:02:14,1 min 37.331 sec,10.0,0.303394,0.317054,0.935013,0.661033,7.409593,0.084922
11,,2022-09-13 07:02:15,1 min 37.541 sec,11.0,0.302214,0.314239,0.935051,0.661734,7.409593,0.092848
12,,2022-09-13 07:02:15,1 min 37.737 sec,12.0,0.301074,0.311566,0.935045,0.661616,7.409593,0.084922
13,,2022-09-13 07:02:19,1 min 41.754 sec,34.0,0.279984,0.268237,0.937176,0.676373,7.705071,0.090942
14,,2022-09-13 07:02:23,1 min 45.821 sec,58.0,0.264203,0.239950,0.937931,0.679525,7.806275,0.088673
15,,2022-09-13 07:02:27,1 min 49.939 sec,80.0,0.254244,0.222531,0.940022,0.685251,7.878916,0.087584
16,,2022-09-13 07:02:31,1 min 53.684 sec,100.0,0.247751,0.210981,0.944047,0.691870,8.034256,0.083046

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0           duration         31855.388672           1.000000    0.503293
1        nr.employed         22311.763672           0.700408    0.352510
2          euribor3m          1772.733521           0.055649    0.028008
3      cons.conf.idx          1724.984497           0.054150    0.027254
4              pdays          1503.662354           0.047203    0.023757
5     cons.price.idx           925.715027           0.029060    0.014626
6   poutcome.success           922.239441           0.028951    0.014571
7          month.oct           738.470764           0.023182    0.011667
8   contact.cellular           321.591980           0.010095    0.005081
9          month.mar           230.650970           0.007241    0.003644
10      emp.var.rate           178.825180           0.005614    0.002825
11               age           160.474991           0.005038    0.002535
12        default.no           118.676186           0.003725    0.001875
13   day_of_week.mon           102.134354           0.003206    0.001614
14          previous            82.725861           0.002597    0.001307
15          campaign            58.000763           0.001821    0.000916
16         month.aug            46.122005           0.001448    0.000729
17   day_of_week.fri            42.977219           0.001349    0.000679
18       job.unknown            37.136536           0.001166    0.000587
19         month.may            35.135239           0.001103    0.000555

See the whole table with table.as_data_frame()

In [35]:
#For our second base learner, we use a Random Forest:
#Train and cross-validate a RF
base_learner_rf=H2ORandomForestEstimator(ntrees=250,
                                         nfolds=nfolds,
                                         fold_assignment="Modulo",
                                         categorical_encoding=encoding,
                                         keep_cross_validation_predictions=True)
base_learner_rf.train(x=predictors,y=response,training_frame=train)

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1663050917904_175


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,250.0,250.0,6843079.0,20.0,20.0,20.0,1729.0,2448.0,2163.272

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: 0.05751872630254877
RMSE: 0.23983062002702818
LogLoss: 0.18102744375131438
Mean Per-Class Error: 0.15795183919567074
AUC: 0.942829122694711
AUCPR: 0.6480747987069494
Gini: 0.885658245389422

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3115585924264776:

               no     yes   Error               Rate
0     no  27019.0  2311.0  0.0788   (2311.0/29330.0)
1    yes    883.0  2841.0  0.2371     (883.0/3724.0)
2  Total  27902.0  5152.0  0.0966   (3194.0/33054.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.311559      0.640153  216.0
1                        max f2   0.149162      0.755657  286.0
2                  max f0point5   0.462818      0.624237  156.0
3                  max accuracy   0.482497      0.915351  148.0
4                 max precision   0.987134      1.000000    0.0
5                    max recall   0.000134      1.000000  399.0
6               max specificity   0.987134      1.000000    0.0
7              max absolute_mcc   0.311559      0.596311  216.0
8    max min_per_class_accuracy   0.194688      0.875895  265.0
9   max mean_per_class_accuracy   0.145063      0.885530  288.0
10                      max tns   0.987134  29330.000000    0.0
11                      max fns   0.987134   3722.000000    0.0
12                      max fps   0.000134  29330.000000  399.0
13                      max tps   0.000134   3724.000000  399.0
14                      max tnr   0.987134      1.000000    0.0
15                      max fnr   0.987134      0.999463    0.0
16                      max fpr   0.000134      1.000000  399.0
17                      max tpr   0.000134      1.000000  399.0

Gains/Lift Table: Avg response rate: 11.27 %, avg score: 11.28 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010014,0.829730,7.561979,7.561979,0.851964,0.885464,0.851964,0.885464,0.075725,0.075725,656.197897,656.197897,0.074054
1,2,0.020028,0.753745,6.864775,7.213377,0.773414,0.789528,0.812689,0.837496,0.068743,0.144468,586.477523,621.337710,0.140241
2,3,0.030011,0.687574,5.890396,6.773273,0.663636,0.719027,0.763105,0.798086,0.058808,0.203276,489.039645,577.327265,0.195264
3,4,0.040025,0.642596,6.087125,6.601606,0.685801,0.664364,0.743764,0.764630,0.060956,0.264232,508.712491,560.160606,0.252674
4,5,0.050009,0.603894,5.513841,6.384448,0.621212,0.623139,0.719298,0.736383,0.055048,0.319280,451.384142,538.444796,0.303460
5,6,0.100018,0.451206,4.934657,5.659553,0.555959,0.523511,0.637629,0.629947,0.246778,0.566058,393.465742,465.955269,0.525212
6,7,0.149997,0.324732,3.583688,4.967877,0.403753,0.387288,0.559701,0.549093,0.179108,0.745166,258.368758,396.787678,0.670738
7,8,0.200006,0.211065,2.314295,4.304381,0.260738,0.264956,0.484949,0.478048,0.115736,0.860902,131.429527,330.438106,0.744810
8,9,0.299994,0.053608,1.071558,3.226882,0.120726,0.122324,0.363554,0.359485,0.107143,0.968045,7.155825,222.688213,0.752873
9,10,0.400012,0.015932,0.195990,2.469045,0.022081,0.029606,0.278173,0.277003,0.019603,0.987648,-80.400980,146.904453,0.662247
10,11,0.500000,0.006885,0.042970,1.983888,0.004841,0.011563,0.223513,0.223922,0.004296,0.991944,-95.703025,98.388829,0.554406
11,12,0.599988,0.002921,0.042970,1.660434,0.004841,0.004417,0.187071,0.187341,0.004296,0.996241,-95.703025,66.043449,0.446565
12,13,0.700006,0.001609,0.018794,1.425874,0.002117,0.002187,0.160645,0.160886,0.001880,0.998120,-98.120642,42.587382,0.335966
13,14,0.799994,0.000833,0.005371,1.248331,0.000605,0.001198,0.140642,0.140927,0.000537,0.998657,-99.462878,24.833114,0.223887
14,15,0.899982,0.000308,0.002686,1.109940,0.000303,0.000548,0.125050,0.125331,0.000269,0.998926,-99.731439,10.994004,0.111507
15,16,1.000000,0.000000,0.010739,1.000000,0.001210,0.000118,0.112664,0.112808,0.001074,1.000000,-98.926081,0.000000,0.000000

ModelMetricsBinomial: drf
** Reported on cross-validation data. **

MSE: 0.05711687946102256
RMSE: 0.23899137947010257
LogLoss: 0.17909595535985803
Mean Per-Class Error: 0.15000884413556906
AUC: 0.9443551206080079
AUCPR: 0.6525975151005701
Gini: 0.8887102412160157

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3042242615446449:

               no     yes   Error               Rate
0     no  26973.0  2357.0  0.0804   (2357.0/29330.0)
1    yes    818.0  2906.0  0.2197     (818.0/3724.0)
2  Total  27791.0  5263.0  0.0961   (3175.0/33054.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.304224      0.646712  222.0
1                        max f2   0.156026      0.757475  286.0
2                  max f0point5   0.440694      0.620307  163.0
3                  max accuracy   0.440694      0.914504  163.0
4                 max precision   0.978979      1.000000    0.0
5                    max recall   0.000482      1.000000  398.0
6               max specificity   0.978979      1.000000    0.0
7              max absolute_mcc   0.292791      0.605631  226.0
8    max min_per_class_accuracy   0.199142      0.877702  267.0
9   max mean_per_class_accuracy   0.148675      0.886732  289.0
10                      max tns   0.978979  29330.000000    0.0
11                      max fns   0.978979   3721.000000    0.0
12                      max fps   0.000241  29330.000000  399.0
13                      max tps   0.000482   3724.000000  398.0
14                      max tnr   0.978979      1.000000    0.0
15                      max fnr   0.978979      0.999194    0.0
16                      max fpr   0.000241      1.000000  399.0
17                      max tpr   0.000482      1.000000  398.0

Gains/Lift Table: Avg response rate: 11.27 %, avg score: 11.31 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010014,0.827562,7.696057,7.696057,0.867069,0.882141,0.867069,0.882141,0.077068,0.077068,669.605661,669.605661,0.075567
1,2,0.020028,0.749243,6.757513,7.226785,0.761329,0.786829,0.814199,0.834485,0.067669,0.144737,575.751312,622.678486,0.140543
2,3,0.030011,0.684743,6.024880,6.826958,0.678788,0.715436,0.769153,0.794882,0.060150,0.204887,502.488038,582.695777,0.197080
3,4,0.040025,0.639570,5.979863,6.615024,0.673716,0.661834,0.745276,0.761595,0.059882,0.264769,497.986280,561.502395,0.253279
4,5,0.050009,0.599855,5.621429,6.416666,0.633333,0.621230,0.722928,0.733573,0.056122,0.320892,462.142857,541.666553,0.305276
5,6,0.100018,0.450469,4.854114,5.635390,0.546884,0.522017,0.634906,0.627795,0.242750,0.563641,385.411351,463.538952,0.522489
6,7,0.149997,0.324832,3.760991,5.010842,0.423729,0.386309,0.564542,0.547332,0.187970,0.751611,276.099146,401.084220,0.678001
7,8,0.200006,0.211496,2.319665,4.337946,0.261343,0.266856,0.488731,0.477202,0.116004,0.867615,131.966486,333.794610,0.752375
8,9,0.299994,0.053880,1.047388,3.241204,0.118003,0.124102,0.365167,0.359514,0.104726,0.972342,4.738776,224.120393,0.757715
9,10,0.400012,0.016238,0.179881,2.475758,0.020266,0.029432,0.278929,0.276981,0.017991,0.990333,-82.011858,147.575754,0.665273
10,11,0.500000,0.007760,0.032227,1.987111,0.003631,0.011167,0.223876,0.223825,0.003222,0.993555,-96.777268,98.711063,0.556222
11,12,0.599988,0.004528,0.029542,1.660882,0.003328,0.005816,0.187122,0.187494,0.002954,0.996509,-97.045829,66.088205,0.446867
12,13,0.700006,0.002348,0.010739,1.425107,0.001210,0.003410,0.160558,0.161191,0.001074,0.997583,-98.926081,42.510660,0.335360
13,14,0.799994,0.001252,0.008057,1.247995,0.000908,0.001767,0.140604,0.141266,0.000806,0.998389,-99.194317,24.799548,0.223585
14,15,0.899982,0.000543,0.008057,1.110238,0.000908,0.000869,0.125084,0.125668,0.000806,0.999194,-99.194317,11.023841,0.111809
15,16,1.000000,0.000000,0.008054,1.000000,0.000907,0.000295,0.112664,0.113128,0.000806,1.000000,-99.194561,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.906486,0.003327,0.910604,0.903948,0.904856,0.903494,0.909531
1,auc,0.944473,0.004715,0.943721,0.937496,0.943517,0.949537,0.948097
2,err,0.093514,0.003327,0.089396,0.096052,0.095144,0.096506,0.090469
3,err_count,618.200000,22.015903,591.000000,635.000000,629.000000,638.000000,598.000000
4,f0point5,0.594438,0.015461,0.605742,0.583351,0.597176,0.574338,0.611584
5,f1,0.649438,0.014326,0.637201,0.636103,0.659448,0.645556,0.668882
6,f2,0.716526,0.029728,0.672106,0.699345,0.736219,0.736936,0.738025
7,lift_top_group,7.706458,0.336113,8.090013,7.590127,7.500597,7.324366,8.027187
8,logloss,0.179096,0.006290,0.180628,0.187188,0.181313,0.170401,0.175950
9,max_per_class_error,0.229778,0.047181,0.302419,0.251012,0.201835,0.186275,0.207349
10,mcc,0.607507,0.016975,0.589530,0.591135,0.618714,0.609913,0.628243
11,mean_per_class_accuracy,0.847014,0.019616,0.817599,0.836249,0.858470,0.864044,0.858706
12,mean_per_class_error,0.152986,0.019616,0.182401,0.163751,0.141530,0.135956,0.141294
13,mse,0.057117,0.001914,0.058097,0.059595,0.057267,0.054597,0.056028
14,pr_auc,0.654099,0.026601,0.649799,0.618069,0.663939,0.647526,0.691162
15,precision,0.562914,0.020502,0.586441,0.552789,0.561808,0.534991,0.578544
16,r2,0.428498,0.019203,0.418300,0.401191,0.439072,0.433276,0.450651
17,recall,0.770222,0.047181,0.697581,0.748988,0.798165,0.813725,0.792651
18,rmse,0.238964,0.004008,0.241033,0.244121,0.239305,0.233659,0.236703
19,specificity,0.923805,0.008750,0.937617,0.923509,0.918776,0.914363,0.924761

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2022-09-13 07:12:36,8 min 23.207 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2022-09-13 07:12:36,8 min 23.473 sec,1.0,0.321015,3.151144,0.762383,0.392571,4.712205,0.119261
2,,2022-09-13 07:12:37,8 min 23.871 sec,2.0,0.316980,2.834902,0.762004,0.385411,4.642977,0.123658
3,,2022-09-13 07:12:37,8 min 24.189 sec,3.0,0.308186,2.500635,0.774444,0.401877,4.830942,0.122728
4,,2022-09-13 07:12:37,8 min 24.587 sec,4.0,0.301191,2.222025,0.792173,0.418761,4.919509,0.123632
5,,2022-09-13 07:12:38,8 min 24.856 sec,5.0,0.292838,1.885032,0.811173,0.440420,5.029699,0.124605
6,,2022-09-13 07:12:38,8 min 25.125 sec,6.0,0.287369,1.654489,0.825168,0.456870,5.132997,0.119138
7,,2022-09-13 07:12:38,8 min 25.404 sec,7.0,0.281912,1.424767,0.838666,0.471775,5.266391,0.119476
8,,2022-09-13 07:12:38,8 min 25.667 sec,8.0,0.277506,1.220311,0.850649,0.484441,5.344467,0.118401
9,,2022-09-13 07:12:39,8 min 25.957 sec,9.0,0.274211,1.068119,0.860772,0.494116,5.428095,0.116107
10,,2022-09-13 07:12:39,8 min 26.244 sec,10.0,0.270303,0.929439,0.867866,0.511566,5.771722,0.114607
11,,2022-09-13 07:12:39,8 min 26.564 sec,11.0,0.266613,0.810548,0.877814,0.524394,5.949205,0.125971
12,,2022-09-13 07:12:40,8 min 26.849 sec,12.0,0.264814,0.744469,0.884195,0.531671,5.967018,0.115337
13,,2022-09-13 07:12:40,8 min 27.186 sec,13.0,0.262203,0.655463,0.890891,0.542281,6.116051,0.114463
14,,2022-09-13 07:12:44,8 min 31.394 sec,30.0,0.248176,0.271199,0.926227,0.607239,7.216416,0.107612
15,,2022-09-13 07:12:48,8 min 35.524 sec,47.0,0.244022,0.220691,0.934466,0.627428,7.374270,0.097870
16,,2022-09-13 07:12:52,8 min 39.728 sec,64.0,0.242432,0.196339,0.938663,0.635198,7.347455,0.097870
17,,2022-09-13 07:12:57,8 min 43.885 sec,81.0,0.241634,0.190757,0.939848,0.639359,7.374270,0.100684
18,,2022-09-13 07:13:01,8 min 48.012 sec,97.0,0.241290,0.188463,0.940280,0.640099,7.374270,0.093695
19,,2022-09-13 07:13:05,8 min 52.163 sec,114.0,0.240689,0.185421,0.941419,0.642042,7.374270,0.091971

See the whole table with table.as_data_frame()

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,duration,138559.609375,1.000000,0.283195
1,euribor3m,42926.558594,0.309806,0.087735
2,age,34140.230469,0.246394,0.069777
3,nr.employed,29592.912109,0.213575,0.060483
4,pdays,17697.777344,0.127727,0.036172
5,campaign,15173.523438,0.109509,0.031012
6,emp.var.rate,14040.378906,0.101331,0.028696
7,cons.conf.idx,13668.318359,0.098646,0.027936
8,poutcome.success,12860.922852,0.092819,0.026286
9,cons.price.idx,12365.352539,0.089242,0.025273
10,previous,6696.321777,0.048328,0.013686
11,housing.no,5555.417969,0.040094,0.011354
12,housing.yes,5373.432129,0.038781,0.010982
13,job.admin.,5245.607910,0.037858,0.010721
14,day_of_week.mon,5214.242188,0.037632,0.010657
15,education.university.degree,5092.182617,0.036751,0.010408
16,day_of_week.thu,5066.467285,0.036565,0.010355
17,marital.married,4955.615723,0.035765,0.010129
18,education.high.school,4907.823242,0.035420,0.010031
19,day_of_week.tue,4869.111816,0.035141,0.009952

See the whole table with table.as_data_frame()

In [36]:
# For our third base learner, we implement a Generalized Linear Model (GLM):
base_learner_glm=H2OGeneralizedLinearEstimator(family="binomial",
                                               model_id='GLM',
                                               lambda_search=True,
                                               nfolds=nfolds,
                                               fold_assignment="Modulo",
                                               keep_cross_validation_predictions=True)

base_learner_glm.train(x=predictors,y=response,training_frame=train)

glm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,"Elastic Net (alpha = 0.5, lambda = 4.898E-5 )","nlambda = 100, lambda.max = 0.2554, lambda.min = 4.898E-5, lambda....",63,48,133,py_13_sid_b51b

ModelMetricsBinomialGLM: glm
** Reported on train data. **

MSE: 0.062150544449254386
RMSE: 0.24930010920425683
LogLoss: 0.20676677496156093
Null degrees of freedom: 33053
Residual degrees of freedom: 33005
Null deviance: 23273.277611826466
Residual deviance: 13668.937959158871
AIC: 13766.937959158871
AUC: 0.9372907254132116
AUCPR: 0.6031869451809622
Gini: 0.8745814508264231

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.2534388791869134:

               no     yes   Error               Rate
0     no  27300.0  2030.0  0.0692   (2030.0/29330.0)
1    yes   1115.0  2609.0  0.2994    (1115.0/3724.0)
2  Total  28415.0  4639.0  0.0951   (3145.0/33054.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.253439      0.623939  224.0
1                        max f2   0.099847      0.737101  301.0
2                  max f0point5   0.371112      0.612630  180.0
3                  max accuracy   0.371112      0.912961  180.0
4                 max precision   0.857414      0.740496   38.0
5                    max recall   0.003530      1.000000  398.0
6               max specificity   0.999189      0.999318    0.0
7              max absolute_mcc   0.222145      0.575775  239.0
8    max min_per_class_accuracy   0.126840      0.864393  286.0
9   max mean_per_class_accuracy   0.080609      0.875618  312.0
10                      max tns   0.999189  29310.000000    0.0
11                      max fns   0.999189   3693.000000    0.0
12                      max fps   0.002610  29330.000000  399.0
13                      max tps   0.003530   3724.000000  398.0
14                      max tnr   0.999189      0.999318    0.0
15                      max fnr   0.999189      0.991676    0.0
16                      max fpr   0.002610      1.000000  399.0
17                      max tpr   0.003530      1.000000  398.0

Gains/Lift Table: Avg response rate: 11.27 %, avg score: 11.27 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010014,0.927909,6.435727,6.435727,0.725076,0.971849,0.725076,0.971849,0.064447,0.064447,543.572678,543.572678,0.061344
1,2,0.020028,0.841072,6.596620,6.516173,0.743202,0.883130,0.734139,0.927489,0.066058,0.130505,559.661995,551.617336,0.124504
2,3,0.030011,0.762485,6.105571,6.379582,0.687879,0.799799,0.718750,0.885012,0.060956,0.191461,510.557075,537.958177,0.181948
3,4,0.040025,0.696022,6.006678,6.286285,0.676737,0.728312,0.708239,0.845807,0.060150,0.251611,500.667833,528.628544,0.238451
4,5,0.050009,0.622708,5.997984,6.228730,0.675758,0.658801,0.701754,0.808474,0.059882,0.311493,499.798360,522.872972,0.294684
5,6,0.100018,0.370882,4.923918,5.576324,0.554749,0.489358,0.628252,0.648916,0.246241,0.557734,392.391823,457.632398,0.515831
6,7,0.149997,0.232304,3.374147,4.842561,0.380145,0.293276,0.545583,0.530417,0.168636,0.726369,237.414663,384.256097,0.649554
7,8,0.200006,0.147177,2.147838,4.168778,0.241984,0.186354,0.469672,0.444388,0.107411,0.833781,114.783783,316.877828,0.714245
8,9,0.299994,0.062922,1.254180,3.197343,0.141301,0.097691,0.360226,0.328834,0.125403,0.959184,25.417970,219.734340,0.742886
9,10,0.400012,0.035497,0.289958,2.470387,0.032668,0.046984,0.278324,0.258361,0.029001,0.988185,-71.004189,147.038713,0.662852
10,11,0.500000,0.023923,0.048341,1.986037,0.005446,0.029041,0.223755,0.212503,0.004834,0.993018,-95.165903,98.603652,0.555616
11,12,0.599988,0.017788,0.040284,1.661777,0.004539,0.020578,0.187223,0.180518,0.004028,0.997046,-95.971586,66.177716,0.447472
12,13,0.700006,0.014043,0.008054,1.425490,0.000907,0.015828,0.160602,0.156987,0.000806,0.997852,-99.194561,42.549021,0.335663
13,14,0.799994,0.010914,0.008057,1.248331,0.000908,0.012441,0.140642,0.138921,0.000806,0.998657,-99.194317,24.833114,0.223887
14,15,0.899982,0.007858,0.008057,1.110537,0.000908,0.009382,0.125118,0.124529,0.000806,0.999463,-99.194317,11.053678,0.112112
15,16,1.000000,0.000949,0.005370,1.000000,0.000605,0.005901,0.112664,0.112664,0.000537,1.000000,-99.463041,0.000000,0.000000

ModelMetricsBinomialGLM: glm
** Reported on cross-validation data. **

MSE: 0.06258731809219302
RMSE: 0.2501745752313632
LogLoss: 0.20824436748146868
Null degrees of freedom: 33053
Residual degrees of freedom: 33004
Null deviance: 23274.63257807145
Residual deviance: 13766.618645464932
AIC: 13866.618645464932
AUC: 0.9362644760920859
AUCPR: 0.5989574791228216
Gini: 0.8725289521841717

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.25689353949254107:

               no     yes   Error               Rate
0     no  27332.0  1998.0  0.0681   (1998.0/29330.0)
1    yes   1146.0  2578.0  0.3077    (1146.0/3724.0)
2  Total  28478.0  4576.0  0.0951   (3144.0/33054.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.256894      0.621205  220.0
1                        max f2   0.094806      0.733985  298.0
2                  max f0point5   0.358600      0.608923  180.0
3                  max accuracy   0.415010      0.912114  160.0
4                 max precision   0.871905      0.736086   34.0
5                    max recall   0.003838      1.000000  397.0
6               max specificity   0.999194      0.999250    0.0
7              max absolute_mcc   0.191603      0.572924  250.0
8    max min_per_class_accuracy   0.125941      0.863860  281.0
9   max mean_per_class_accuracy   0.088591      0.874162  302.0
10                      max tns   0.999194  29308.000000    0.0
11                      max fns   0.999194   3695.000000    0.0
12                      max fps   0.001923  29330.000000  399.0
13                      max tps   0.003838   3724.000000  397.0
14                      max tnr   0.999194      0.999250    0.0
15                      max fnr   0.999194      0.992213    0.0
16                      max fpr   0.001923      1.000000  399.0
17                      max tpr   0.003838      1.000000  397.0

Gains/Lift Table: Avg response rate: 11.27 %, avg score: 11.26 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010014,0.927886,6.355280,6.355280,0.716012,0.971985,0.716012,0.971985,0.063641,0.063641,535.528019,535.528019,0.060436
1,2,0.020028,0.842143,6.596620,6.475950,0.743202,0.883980,0.729607,0.927982,0.066058,0.129699,559.661995,547.595007,0.123596
2,3,0.030011,0.762923,5.997984,6.316949,0.675758,0.800075,0.711694,0.885432,0.059882,0.189581,499.798360,531.694913,0.179830
3,4,0.040025,0.692279,6.060309,6.252741,0.682779,0.728093,0.704460,0.846068,0.060687,0.250269,506.030938,525.274070,0.236937
4,5,0.050009,0.623190,5.809706,6.164295,0.654545,0.658306,0.694495,0.808583,0.058002,0.308271,480.970608,516.429458,0.291053
5,6,0.100018,0.370837,4.902440,5.533367,0.552329,0.488582,0.623412,0.648583,0.245166,0.553437,390.243986,453.336722,0.510989
6,7,0.149997,0.230784,3.401011,4.822868,0.383172,0.292709,0.543364,0.530006,0.169979,0.723416,240.101085,382.286849,0.646225
7,8,0.200006,0.148013,2.158577,4.156695,0.243194,0.186317,0.468310,0.444071,0.107948,0.831364,115.857702,315.669487,0.711521
8,9,0.299994,0.062981,1.248808,3.187497,0.140696,0.097601,0.359117,0.328593,0.124866,0.956230,24.880848,218.749716,0.739558
9,10,0.400012,0.035626,0.314121,2.469045,0.035390,0.047075,0.278173,0.258203,0.031418,0.987648,-68.587872,146.904453,0.662247
10,11,0.500000,0.023910,0.056398,1.986574,0.006354,0.029101,0.223816,0.212388,0.005639,0.993287,-94.360220,98.657358,0.555919
11,12,0.599988,0.017892,0.034913,1.661330,0.003933,0.020646,0.187172,0.180434,0.003491,0.996778,-96.508707,66.132960,0.447170
12,13,0.700006,0.014110,0.008054,1.425107,0.000907,0.015868,0.160558,0.156921,0.000806,0.997583,-99.194561,42.510660,0.335360
13,14,0.799994,0.010903,0.008057,1.247995,0.000908,0.012448,0.140604,0.138864,0.000806,0.998389,-99.194317,24.799548,0.223585
14,15,0.899982,0.007806,0.010742,1.110537,0.001210,0.009357,0.125118,0.124475,0.001074,0.999463,-98.925756,11.053678,0.112112
15,16,1.000000,0.000565,0.005370,1.000000,0.000605,0.005844,0.112664,0.112610,0.000537,1.000000,-99.463041,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.905276,0.003315,0.909242,0.903494,0.903645,0.908335,0.901664
1,auc,0.936298,0.002992,0.937057,0.931243,0.937662,0.936435,0.939092
2,err,0.094724,0.003315,0.090758,0.096506,0.096355,0.091665,0.098336
3,err_count,626.200000,21.890636,600.000000,638.000000,637.000000,606.000000,650.000000
4,f0point5,0.587353,0.008537,0.600095,0.577762,0.590610,0.582407,0.585891
5,f1,0.626710,0.013816,0.627792,0.611922,0.635792,0.614013,0.644031
6,f2,0.672246,0.028700,0.658169,0.650375,0.688460,0.649246,0.714981
7,lift_top_group,6.388397,0.426400,6.233289,5.859045,6.207390,6.909779,6.732480
8,logloss,0.208231,0.006573,0.211192,0.215590,0.211737,0.200317,0.202317
9,max_per_class_error,0.293131,0.042392,0.319892,0.321188,0.271298,0.324930,0.228346
10,mcc,0.578524,0.015936,0.578681,0.560981,0.587655,0.565466,0.599835
11,mean_per_class_accuracy,0.818616,0.017407,0.809203,0.805335,0.827587,0.805824,0.845129
12,mean_per_class_error,0.181385,0.017407,0.190797,0.194665,0.172413,0.194176,0.154871
13,mse,0.062576,0.001325,0.063522,0.064040,0.062894,0.060924,0.061500
14,null_deviance,4654.927000,82.071630,4651.402000,4639.031000,4730.108000,4528.377400,4725.714400
15,pr_auc,0.600013,0.020597,0.581930,0.580016,0.611468,0.597764,0.628888
16,precision,0.563918,0.011594,0.582949,0.557032,0.563894,0.563084,0.552632
17,r2,0.373814,0.016392,0.363985,0.356531,0.383958,0.367593,0.397005
18,recall,0.706869,0.042392,0.680108,0.678812,0.728703,0.675070,0.771654
19,residual_deviance,2753.142600,86.999306,2792.376500,2850.531200,2799.582800,2648.589800,2674.633300

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_xval,deviance_se,alpha,iterations,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2022-09-13 07:14:26,0.000 sec,1,.26E0,1,0.704099,0.704140,0.005562,0.5,NaN,,,,,,,
1,,2022-09-13 07:14:26,0.053 sec,3,.23E0,2,0.691394,0.704099,0.005575,0.5,NaN,,,,,,,
2,,2022-09-13 07:14:26,0.098 sec,5,.21E0,3,0.673779,0.704099,0.005575,0.5,NaN,,,,,,,
3,,2022-09-13 07:14:26,0.130 sec,7,.19E0,4,0.651783,0.696350,0.005485,0.5,NaN,,,,,,,
4,,2022-09-13 07:14:26,0.155 sec,9,.18E0,4,0.629303,0.682412,0.006033,0.5,NaN,,,,,,,
5,,2022-09-13 07:14:26,0.178 sec,11,.16E0,4,0.609576,0.661195,0.005855,0.5,NaN,,,,,,,
6,,2022-09-13 07:14:26,0.204 sec,13,.15E0,5,0.591613,0.638167,0.005791,0.5,NaN,,,,,,,
7,,2022-09-13 07:14:26,0.231 sec,15,.13E0,6,0.575311,0.617394,0.005569,0.5,NaN,,,,,,,
8,,2022-09-13 07:14:26,0.256 sec,17,.12E0,6,0.560710,0.598876,0.005435,0.5,NaN,,,,,,,
9,,2022-09-13 07:14:26,0.293 sec,19,.11E0,6,0.547781,0.581863,0.005285,0.5,NaN,,,,,,,
10,,2022-09-13 07:14:26,0.319 sec,21,.1E0,6,0.536287,0.566573,0.005155,0.5,NaN,,,,,,,
11,,2022-09-13 07:14:26,0.343 sec,23,.92E-1,6,0.526041,0.553006,0.005030,0.5,NaN,,,,,,,
12,,2022-09-13 07:14:26,0.370 sec,25,.84E-1,6,0.516897,0.540964,0.004931,0.5,NaN,,,,,,,
13,,2022-09-13 07:14:26,0.402 sec,27,.76E-1,6,0.508725,0.530240,0.004852,0.5,NaN,,,,,,,
14,,2022-09-13 07:14:26,0.425 sec,29,.69E-1,6,0.501420,0.520675,0.004792,0.5,NaN,,,,,,,
15,,2022-09-13 07:14:26,0.451 sec,31,.63E-1,6,0.494890,0.512130,0.004748,0.5,NaN,,,,,,,
16,,2022-09-13 07:14:26,0.478 sec,33,.58E-1,6,0.489055,0.504497,0.004718,0.5,NaN,,,,,,,
17,,2022-09-13 07:14:26,0.502 sec,35,.53E-1,6,0.483846,0.497670,0.004700,0.5,NaN,,,,,,,
18,,2022-09-13 07:14:26,0.525 sec,37,.48E-1,6,0.479197,0.491573,0.004694,0.5,NaN,,,,,,,
19,,2022-09-13 07:14:26,0.550 sec,39,.44E-1,6,0.475051,0.486126,0.004698,0.5,NaN,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

             variable  relative_importance  scaled_importance  percentage
0        emp.var.rate             2.389294           1.000000    0.167407
1           month.mar             1.741694           0.728957    0.122032
2            duration             1.226243           0.513224    0.085917
3      cons.price.idx             1.060092           0.443684    0.074276
4           month.may             0.670142           0.280477    0.046954
5           month.aug             0.621700           0.260203    0.043560
6           euribor3m             0.591005           0.247355    0.041409
7           month.nov             0.579589           0.242577    0.040609
8           month.jun             0.571780           0.239309    0.040062
9    poutcome.success             0.525921           0.220116    0.036849
10   poutcome.failure             0.373216           0.156203    0.026150
11   contact.cellular             0.326488           0.136646    0.022876
12  contact.telephone             0.289672           0.121238    0.020296
13        job.retired             0.256132           0.107200    0.017946
14    job.blue-collar             0.252979           0.105880    0.017725
15         default.no             0.222755           0.093230    0.015607
16        job.student             0.213026           0.089159    0.014926
17  job.self-employed             0.195045           0.081633    0.013666
18    day_of_week.mon             0.186507           0.078059    0.013068
19              pdays             0.179392           0.075082    0.012569

See the whole table with table.as_data_frame()

In [37]:
# Get the best-performing base learner on the test set in terms of the test AUC. Compare this with the test AUC of the stacked ensemble model:
gbm_test_performance=base_learner_gbm.model_performance(test)
rf_test_performance=base_learner_rf.model_performance(test)
glm_test_performance=base_learner_glm.model_performance(test)

print("Best AUC from the GBM ", gbm_test_performance.auc())
print("Best AUC from the Random Forest", rf_test_performance.auc())
print("Best AUC from the GLM ", glm_test_performance.auc())

base_learner_best_auc_test=max(gbm_test_performance.auc(),rf_test_performance.auc(),glm_test_performance.auc())
print("Best AUC from the base learners", base_learner_best_auc_test)

Best AUC from the GBM  0.9307436315809215
Best AUC from the Random Forest 0.93803034867949
Best AUC from the GLM  0.9302674294370817
Best AUC from the base learners 0.93803034867949

We train a stacked ensemble using the base learners we built in the preceding step

In [41]:
all_models=[base_learner_glm,base_learner_gbm,base_learner_rf]
#Set up stacked ensemble using deep learning as meta ensemble
ensemble_deep=H2OStackedEnsembleEstimator(model_id="stack_model_d",base_models=all_models,metalearner_algorithm='deeplearning')
ensemble_deep.train(y=response,training_frame=train)

#Eval ensemble performance on the test data
perf_stack_test=ensemble_deep.model_performance(test)
stack_auc_test=perf_stack_test.auc()
print("ensemble_deep test AUC; {0}".format(stack_auc_test))

stackedensemble Model Build progress: |██████████████████████████████████████████| (done) 100%
ensemble_deep test AUC; 0.9411725114675707

You may also assemble a list of models to stack together in different ways. In the preceding example, we trained individual models and put them in a list to ensemble them. We can also train a grid of models:

We specify the random forest hyperparameters for the grid:

In [50]:
hyper_params={"max_depth":[3,4,5,8,10],
              "min_rows":[3,4,5,6,7,8,9,10],
              "mtries":[10,15,20],
              'ntrees':[100,250,500,750],
              "sample_rate":[0.7,0.8,0.9,1.0],
              "col_sample_rate_per_tree":[0.5,0.6,0.7,0.8,0.9,1.0]}
search_criteria={"strategy":"RandomDiscrete","max_models":3, "seed":1}

In [51]:
#We train the grid using the hyperparameters defined in the preceding code:
grid=H2OGridSearch(model=H2ORandomForestEstimator(nfolds=nfolds,
                                                  keep_cross_validation_predictions=True),
                   hyper_params=hyper_params,
                   search_criteria=search_criteria,
                   grid_id='rf_grid_binomial'
                   )
grid.train(x=predictors,y=response,training_frame=train)

drf Grid Build progress: |███████████████████████████████████████████████████████| (done) 100%
     col_sample_rate_per_tree  max_depth  min_rows  mtries  ntrees  \
0                         0.8        8.0       6.0    10.0   100.0
1                         0.6        8.0      10.0    15.0   750.0
2                         0.7        4.0      10.0    15.0   100.0

   sample_rate                 model_ids   logloss
0          0.7  rf_grid_binomial_model_1  0.179610
1          1.0  rf_grid_binomial_model_3  0.192846
2          0.7  rf_grid_binomial_model_2  0.199156

In [53]:
# Train a stacked ensemble using the RF grid
ensemble = H2OStackedEnsembleEstimator(model_id="ensemble_rf_grid_binomial_9", base_models=grid.model_ids)

ensemble.train(x=predictors, y=response, training_frame=train)

# Evaluate ensemble performance on the test data
perf_stack_test = ensemble.model_performance(test)

# Compare to base learner performance on the test set
baselearner_best_auc_test = max([h2o.get_model(model).model_performance(test_data=test).auc() for model in grid.model_ids])

stack_auc_test = perf_stack_test.auc()

print("Best Base-learner Test AUC: ", baselearner_best_auc_test)
print("Ensemble Test AUC: ", stack_auc_test)

stackedensemble Model Build progress: | (failed)

OSError: ignored

The preceding code will give the best base-learner test AUC and test the AUC from the ensemble model. If the response variable is highly imbalanced, consider fine-tuning the following hyperparameters to control oversampling and under-sampling:

balance_classes: This option can be used to balance the class distribution. When enabled, H2O will either under-sample the majority classes or oversample the minority classes. If this option is enabled, you can also specify a value for the class_sampling_factors and max_after_balance_size options.
class_sampling_factors: By default, sampling factors will be automatically computed to obtain class balance during training. This behavior may be changed using the class_sampling_factors parameter. This option sets an over- or under-sampling ratio for each class and requires balance_classes=true.
max_after_balance_size: In most cases, setting balance_classes to true will increase the size of the DataFrame. To reduce the DataFrame size, you can use the max_after_balance_size parameter. This specifies the maximum relative size of the training data after balancing the class counts and defaults to 5.0.